<!DOCTYPE html>
<html>
   <head>
   <style>
     
       .opcoes{
           position:relative;
           margin:120px 0px 0px 0px;
           border:10px
       }
   </style>
<title>Stats | Niqq</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    
   
</head>

<body>
<nav id="navBar" class="deep-purple accent-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Niqq Stats</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Users</a></li>
               <li><a href='#'>Stats</a></li>
                <!--<li><a onclick="userLogout()">Logout</a></li>-->
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#users">Users</a></li>
                <!-- <li><a onclick="userLogout()">Logout</a></li>-->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col m4" style="margin-top: 20px;">
                <select id="opcoes" name="opcoes" style="display:block ! important;">
                    <option value="formsCompared">Comparacao das forms</option>
                    <option value ="fractionedSignup">Fractioned form</option>
                    <option value ="fill">  Tempo medio para a primeira utilizacao</option>
                </select>
            </div>
        </div>
        <div class="row">
                <div class="col m4">
                    <svg style="padding-left: 20px" ></svg>
                    <div id="render_chart" >
                    </div>
                </div>
            </div>
    </div>
    
    
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
     crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="charts.js"></script>
</body>
</html>