<html>
<head>
<% if (message) { %>
<script type="text/javascript">
    chrome.runtime.sendMessage("<%= message.extensionId %>", <%- JSON.stringify(message.data) %>);
</script>
<% } %>
</head>
<body>
    Carregando...
</body>
</html>