<html>

<body style="background-color: #931cff; font-family: 'Open Sans', sans-serif; padding-top: 40px;">
	<a href="https://niqq.in">
		<img style="display: block; margin-left: auto; margin-right: auto; max-width:130px" alt="Niqq" src="https://niqq.in/img/logo-branco.png">
	</a>

	<div style="max-width: 600px; margin: 40px auto; padding: 10px;">
		<div style="margin: 0 auto; max-width: 600px; padding: 20px; background-color: #fff; color: #931cff;  border-radius: 10px;">
			<p style="font-size: 1.0rem">Acesse o link abaixo para redefinir a sua senha.</p>
			<a href="<%= resetURL %>"><%= resetURL %></a>
		</div>
	</div>
</body>

</html>