<!DOCTYPE html>
<html>
   <head>
   <style>
     
       .opcoes{
           position:relative;
           margin:120px 0px 0px 0px;
           border:10px
       }
   </style>
<title>Stats | Niqq</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    
   
</head>

<body>
<nav id="navBar" class="deep-purple accent-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Niqq Stats</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="stats.html">Users</a></li>
               <li><a href='stats2.html'>Stats</a></li>
                <!--<li><a onclick="userLogout()">Logout</a></li>-->
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#users">Users</a></li>
                <!-- <li><a onclick="userLogout()">Logout</a></li>-->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
<div class="row">
    <div class="col m4">
        <form name ="select" id="button" action="">
        <select name="opcoes" style="display:block ! important;">
        <option value="formsCompared">Comparacao das forms</option>
        <option value ="fracSignup">Fractioned form</option>
        <option value ="fill">  Tempo medio para a primeira utilizacao</option>
        </select>
        <button  id="getGraph" value="Submit">
        </form>
    </div>
</div>
    
<div class="row">
    <div class="col m4">
        <div id="render_chart">
            <canvas id="chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
     crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>

            document.getElementById('button').acoes.onchange = function() {
            var newaction = this.value;
            document.getElementById('store').action = 'http://127.0.0.1:8080/stats/'+newaction;
            };
            $("#button").submit(function(event){
                $.get({url: "http://127.0.0.1:8080/stats/formsCompared",
                 crossDomain: true,
                //  type:'GET',
                 headers: { 'Access-Control-Allow-Origin': '*' },
                 success: function(result){
                    let context = document.getElementById("chart").getContext('2d');
                    let graph = new Chart(context, result);
                    $("#render_chart").html(graph);
            }});
    });
        </script>

</body>
</html>